USE [ispp3104]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedCategory]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedCategory](
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[DeletedDate] [datetime2](7) NOT NULL,
	[Login] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeletedVisitor]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeletedVisitor](
	[VisitorId] [int] NOT NULL,
	[Phone] [char](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Birthday] [datetime2](7) NULL,
	[Email] [varchar](150) NULL,
	[DeletedDate] [datetime2](7) NOT NULL,
	[Login] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Film]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Film](
	[FilmId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Duration] [smallint] NOT NULL,
	[ReleaseYear] [smallint] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Poster] [varbinary](max) NULL,
	[AgeRating] [varchar](10) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Film] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FilmGenre]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FilmGenre](
	[FilmId] [int] NOT NULL,
	[GenreId] [int] NOT NULL,
 CONSTRAINT [PK_FilmGenre] PRIMARY KEY CLUSTERED 
(
	[FilmId] ASC,
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Game](
	[GameId] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Price] [decimal](16, 2) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[IsDeleted] [bit] NOT NULL,
	[KeysAmount] [smallint] NOT NULL,
 CONSTRAINT [PK__Game__2AB897FDBF55B074] PRIMARY KEY CLUSTERED 
(
	[GameId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GamePrice]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GamePrice](
	[GameId] [int] NOT NULL,
	[OldPrice] [decimal](16, 2) NOT NULL,
	[ChangingDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genre]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genre](
	[GenreId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Genre] PRIMARY KEY CLUSTERED 
(
	[GenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hall]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hall](
	[HallId] [tinyint] IDENTITY(1,1) NOT NULL,
	[Cinema] [nvarchar](50) NOT NULL,
	[HallNumber] [tinyint] NOT NULL,
	[RowsCount] [tinyint] NOT NULL,
	[SeatsCount] [tinyint] NOT NULL,
	[IsVip] [bit] NOT NULL,
 CONSTRAINT [PK_Hall] PRIMARY KEY CLUSTERED 
(
	[HallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sale]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sale](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[KeysAmount] [smallint] NOT NULL,
	[SaleDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Sale] PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Session]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Session](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[FilmId] [int] NOT NULL,
	[HallId] [tinyint] NOT NULL,
	[Price] [decimal](4, 0) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[Is3D] [bit] NOT NULL,
 CONSTRAINT [PK_Session] PRIMARY KEY CLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[TicketId] [int] IDENTITY(1,1) NOT NULL,
	[SessionId] [int] NOT NULL,
	[VisitorId] [int] NOT NULL,
	[Row] [tinyint] NOT NULL,
	[Seat] [tinyint] NOT NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[TicketId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Visitor]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Visitor](
	[VisitorId] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [char](10) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Birthday] [datetime2](7) NULL,
	[Email] [varchar](150) NULL,
 CONSTRAINT [PK_Visitor] PRIMARY KEY CLUSTERED 
(
	[VisitorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VisitorEmail]    Script Date: 16.10.2025 11:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VisitorEmail](
	[VisitorId] [int] NOT NULL,
	[Email] [varchar](150) NULL,
	[ChangingDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (1, N'бравлик')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (2, N'Шутер')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (3, N'RPG')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
INSERT [dbo].[DeletedCategory] ([CategoryId], [Name], [DeletedDate], [Login]) VALUES (5, N'jRPG', CAST(N'2025-09-24T11:46:54.0300000' AS DateTime2), N'ispp3104')
GO
INSERT [dbo].[DeletedVisitor] ([VisitorId], [Phone], [Name], [Birthday], [Email], [DeletedDate], [Login]) VALUES (6, N'6765757676', N'Удалили', CAST(N'1999-09-09T00:00:00.0000000' AS DateTime2), N'udalen@mail.ru', CAST(N'2025-09-26T09:01:39.9200000' AS DateTime2), N'ispp3104')
INSERT [dbo].[DeletedVisitor] ([VisitorId], [Phone], [Name], [Birthday], [Email], [DeletedDate], [Login]) VALUES (7, N'1231231231', NULL, NULL, NULL, CAST(N'2025-09-26T09:02:10.4133333' AS DateTime2), N'ispp3104')
INSERT [dbo].[DeletedVisitor] ([VisitorId], [Phone], [Name], [Birthday], [Email], [DeletedDate], [Login]) VALUES (9, N'7892113445', N'посетитель', CAST(N'2025-10-02T11:34:50.8133333' AS DateTime2), N'visitor@mail.ru', CAST(N'2025-10-02T11:49:07.8866667' AS DateTime2), N'ispp3104')
GO
SET IDENTITY_INSERT [dbo].[Film] ON 

INSERT [dbo].[Film] ([FilmId], [Name], [Duration], [ReleaseYear], [Description], [Poster], [AgeRating], [StartDate], [EndDate], [IsDeleted]) VALUES (1, N'Как приручить дракона', 90, 2025, NULL, NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[Film] ([FilmId], [Name], [Duration], [ReleaseYear], [Description], [Poster], [AgeRating], [StartDate], [EndDate], [IsDeleted]) VALUES (2, N'Отряд Самоубийц', 120, 2016, N'Правительство решает дать команде суперзлодеев шанс на искупление. Подвох в том, что их отправляют на выполнение миссии, где они, вероятнее всего, погибнут.', NULL, N'18+', CAST(N'2025-08-01' AS Date), CAST(N'2025-11-19' AS Date), 1)
INSERT [dbo].[Film] ([FilmId], [Name], [Duration], [ReleaseYear], [Description], [Poster], [AgeRating], [StartDate], [EndDate], [IsDeleted]) VALUES (3, N'Бойцовский клуб', 170, 1999, N'Сотрудник страховой компании страдает хронической бессонницей и отчаянно пытается вырваться из мучительно скучной жизни.', NULL, N'18+', NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[Film] OFF
GO
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (1, 3)
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (2, 1)
INSERT [dbo].[FilmGenre] ([FilmId], [GenreId]) VALUES (3, 5)
GO
SET IDENTITY_INSERT [dbo].[Game] ON 

INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description], [IsDeleted], [KeysAmount]) VALUES (1, 1, N'SimCity', CAST(1527.00 AS Decimal(16, 2)), N'Градостроительный симулятор снова с вами! Создайте город своей мечты', 0, 75)
INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description], [IsDeleted], [KeysAmount]) VALUES (2, 2, N'TITANFALL', CAST(2317.00 AS Decimal(16, 2)), N'Эта игра перенесет вас во вселенную, где малое противопоставляется большому, природа – индустрии, а человек – машине', 0, 89)
INSERT [dbo].[Game] ([GameId], [CategoryId], [Name], [Price], [Description], [IsDeleted], [KeysAmount]) VALUES (3, 2, N'Battlefield 4', CAST(927.40 AS Decimal(16, 2)), N'Battlefield 4 – это определяющий для жанра, полный экшена боевик, известный своей разрушаемостью, равных которой нет', 0, 100)
SET IDENTITY_INSERT [dbo].[Game] OFF
GO
INSERT [dbo].[GamePrice] ([GameId], [OldPrice], [ChangingDate]) VALUES (4, CAST(16.00 AS Decimal(16, 2)), CAST(N'2025-09-24T11:35:00.6766667' AS DateTime2))
INSERT [dbo].[GamePrice] ([GameId], [OldPrice], [ChangingDate]) VALUES (3, CAST(900.40 AS Decimal(16, 2)), CAST(N'2025-09-24T11:35:00.6766667' AS DateTime2))
INSERT [dbo].[GamePrice] ([GameId], [OldPrice], [ChangingDate]) VALUES (2, CAST(2300.00 AS Decimal(16, 2)), CAST(N'2025-09-24T11:35:00.6766667' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Genre] ON 

INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (1, N'Жанр')
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (2, N'Ужасы')
INSERT [dbo].[Genre] ([GenreId], [Name]) VALUES (3, N'Фэнтези')
SET IDENTITY_INSERT [dbo].[Genre] OFF
GO
SET IDENTITY_INSERT [dbo].[Hall] ON 

INSERT [dbo].[Hall] ([HallId], [Cinema], [HallNumber], [RowsCount], [SeatsCount], [IsVip]) VALUES (1, N'Макси', 1, 9, 20, 0)
INSERT [dbo].[Hall] ([HallId], [Cinema], [HallNumber], [RowsCount], [SeatsCount], [IsVip]) VALUES (7, N'Макси', 2, 5, 10, 1)
INSERT [dbo].[Hall] ([HallId], [Cinema], [HallNumber], [RowsCount], [SeatsCount], [IsVip]) VALUES (9, N'Макси', 3, 8, 25, 0)
SET IDENTITY_INSERT [dbo].[Hall] OFF
GO
SET IDENTITY_INSERT [dbo].[Sale] ON 

INSERT [dbo].[Sale] ([SaleId], [GameId], [KeysAmount], [SaleDate]) VALUES (1, 1, 1, CAST(N'2025-09-25T13:05:32.4900000' AS DateTime2))
INSERT [dbo].[Sale] ([SaleId], [GameId], [KeysAmount], [SaleDate]) VALUES (2, 1, 120, CAST(N'2025-09-25T13:05:36.4766667' AS DateTime2))
INSERT [dbo].[Sale] ([SaleId], [GameId], [KeysAmount], [SaleDate]) VALUES (3, 2, 19, CAST(N'2025-09-25T13:06:05.6033333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Sale] OFF
GO
SET IDENTITY_INSERT [dbo].[Session] ON 

INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [StartDate], [Is3D]) VALUES (1, 1, 1, CAST(300 AS Decimal(4, 0)), CAST(N'2025-09-25T00:00:00.0000000' AS DateTime2), 1)
INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [StartDate], [Is3D]) VALUES (9, 1, 7, CAST(358 AS Decimal(4, 0)), CAST(N'2025-09-29T00:00:00.0000000' AS DateTime2), 0)
INSERT [dbo].[Session] ([SessionId], [FilmId], [HallId], [Price], [StartDate], [Is3D]) VALUES (10, 3, 11, CAST(218 AS Decimal(4, 0)), CAST(N'2025-10-10T00:00:00.0000000' AS DateTime2), 0)
SET IDENTITY_INSERT [dbo].[Session] OFF
GO
SET IDENTITY_INSERT [dbo].[Ticket] ON 

INSERT [dbo].[Ticket] ([TicketId], [SessionId], [VisitorId], [Row], [Seat]) VALUES (1, 1, 1, 2, 1)
INSERT [dbo].[Ticket] ([TicketId], [SessionId], [VisitorId], [Row], [Seat]) VALUES (2, 9, 1, 3, 5)
INSERT [dbo].[Ticket] ([TicketId], [SessionId], [VisitorId], [Row], [Seat]) VALUES (3, 10, 3, 7, 8)
SET IDENTITY_INSERT [dbo].[Ticket] OFF
GO
SET IDENTITY_INSERT [dbo].[Visitor] ON 

INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [Birthday], [Email]) VALUES (1, N'7892113445', N'посетитель', CAST(N'2025-10-02T11:49:08.3066667' AS DateTime2), N'visitor@mail.ru')
INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [Birthday], [Email]) VALUES (2, N'8457123471', NULL, NULL, N'krutoi51@gmail.com')
INSERT [dbo].[Visitor] ([VisitorId], [Phone], [Name], [Birthday], [Email]) VALUES (3, N'1849104951', N'Александр', CAST(N'1984-02-10T00:00:00.0000000' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[Visitor] OFF
GO
INSERT [dbo].[VisitorEmail] ([VisitorId], [Email], [ChangingDate]) VALUES (1, N'andruha@mail.ru', CAST(N'2025-09-26T08:40:46.7266667' AS DateTime2))
INSERT [dbo].[VisitorEmail] ([VisitorId], [Email], [ChangingDate]) VALUES (1, N'andruha2@mail.ru', CAST(N'2025-09-26T08:41:07.1000000' AS DateTime2))
INSERT [dbo].[VisitorEmail] ([VisitorId], [Email], [ChangingDate]) VALUES (1, N'andruha3@mail.ru', CAST(N'2025-10-02T11:44:26.2333333' AS DateTime2))
GO
ALTER TABLE [dbo].[DeletedCategory] ADD  CONSTRAINT [DF_DeletedCategory_DeletedDate]  DEFAULT (getdate()) FOR [DeletedDate]
GO
ALTER TABLE [dbo].[DeletedCategory] ADD  CONSTRAINT [DF_DeletedCategory_Login]  DEFAULT (original_login()) FOR [Login]
GO
ALTER TABLE [dbo].[DeletedVisitor] ADD  CONSTRAINT [DF_DeletedVisitor_DeletedDate]  DEFAULT (getdate()) FOR [DeletedDate]
GO
ALTER TABLE [dbo].[DeletedVisitor] ADD  CONSTRAINT [DF_DeletedVisitor_Login]  DEFAULT (original_login()) FOR [Login]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_Duration]  DEFAULT ((90)) FOR [Duration]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_ReleaseYear]  DEFAULT (datepart(year,getdate())) FOR [ReleaseYear]
GO
ALTER TABLE [dbo].[Film] ADD  CONSTRAINT [DF_Film_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Game] ADD  CONSTRAINT [DF_Game_KeysCount]  DEFAULT ((100)) FOR [KeysAmount]
GO
ALTER TABLE [dbo].[GamePrice] ADD  CONSTRAINT [DF_GamePrice_ChangingDate]  DEFAULT (getdate()) FOR [ChangingDate]
GO
ALTER TABLE [dbo].[Hall] ADD  CONSTRAINT [DF_Hall_Cinema]  DEFAULT (N'Макси') FOR [Cinema]
GO
ALTER TABLE [dbo].[Hall] ADD  CONSTRAINT [DF_Hall_VIP]  DEFAULT ((0)) FOR [IsVip]
GO
ALTER TABLE [dbo].[Sale] ADD  CONSTRAINT [DF_Sale_KeysAmount]  DEFAULT ((1)) FOR [KeysAmount]
GO
ALTER TABLE [dbo].[Sale] ADD  CONSTRAINT [DF_Sale_SaleDate]  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_Price]  DEFAULT ((200)) FOR [Price]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_DateTime]  DEFAULT (getdate()) FOR [StartDate]
GO
ALTER TABLE [dbo].[Session] ADD  CONSTRAINT [DF_Session_3D]  DEFAULT ((0)) FOR [Is3D]
GO
ALTER TABLE [dbo].[VisitorEmail] ADD  CONSTRAINT [DF_VisitorEmail_ChangingDate]  DEFAULT (getdate()) FOR [ChangingDate]
GO
ALTER TABLE [dbo].[FilmGenre]  WITH CHECK ADD  CONSTRAINT [FK_FilmGenre_Film] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([FilmId])
GO
ALTER TABLE [dbo].[FilmGenre] CHECK CONSTRAINT [FK_FilmGenre_Film]
GO
ALTER TABLE [dbo].[FilmGenre]  WITH CHECK ADD  CONSTRAINT [FK_FilmGenre_Genre] FOREIGN KEY([GenreId])
REFERENCES [dbo].[Genre] ([GenreId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FilmGenre] CHECK CONSTRAINT [FK_FilmGenre_Genre]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_Category]
GO
ALTER TABLE [dbo].[GamePrice]  WITH CHECK ADD  CONSTRAINT [FK_GamePrice_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GamePrice] CHECK CONSTRAINT [FK_GamePrice_Game]
GO
ALTER TABLE [dbo].[Sale]  WITH CHECK ADD  CONSTRAINT [FK_Sale_Game] FOREIGN KEY([GameId])
REFERENCES [dbo].[Game] ([GameId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Sale] CHECK CONSTRAINT [FK_Sale_Game]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Film] FOREIGN KEY([FilmId])
REFERENCES [dbo].[Film] ([FilmId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Film]
GO
ALTER TABLE [dbo].[Session]  WITH CHECK ADD  CONSTRAINT [FK_Session_Hall] FOREIGN KEY([HallId])
REFERENCES [dbo].[Hall] ([HallId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Session] CHECK CONSTRAINT [FK_Session_Hall]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Session] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Session] ([SessionId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Session]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Visitor] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitor] ([VisitorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Visitor]
GO
ALTER TABLE [dbo].[VisitorEmail]  WITH CHECK ADD  CONSTRAINT [FK_VisitorEmail_Visitor] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[Visitor] ([VisitorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VisitorEmail] CHECK CONSTRAINT [FK_VisitorEmail_Visitor]
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD  CONSTRAINT [CK_Hall_Cinema] CHECK  (([Cinema]='Русь' OR [Cinema]='Титан-Арена' OR [Cinema]='Макси'))
GO
ALTER TABLE [dbo].[Hall] CHECK CONSTRAINT [CK_Hall_Cinema]
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD  CONSTRAINT [CK_Hall_RowsCount] CHECK  (([RowsCount]>=(5) AND [RowsCount]<=(30)))
GO
ALTER TABLE [dbo].[Hall] CHECK CONSTRAINT [CK_Hall_RowsCount]
GO
ALTER TABLE [dbo].[Hall]  WITH CHECK ADD  CONSTRAINT [CK_Hall_SeatsCount] CHECK  (([SeatsCount]>=(5) AND [SeatsCount]<=(30)))
GO
ALTER TABLE [dbo].[Hall] CHECK CONSTRAINT [CK_Hall_SeatsCount]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Row] CHECK  (([Row]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Row]
GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [CK_Ticket_Seat] CHECK  (([Seat]>(0)))
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [CK_Ticket_Seat]
GO
/****** Object:  Trigger [dbo].[TrSaveCategory]    Script Date: 16.10.2025 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSaveCategory]
    ON [dbo].[Category]
    AFTER DELETE
    AS
		INSERT INTO DeletedCategory(CategoryId,[Name])
		SELECT CategoryId,[Name]
		FROM deleted;
GO
ALTER TABLE [dbo].[Category] DISABLE TRIGGER [TrSaveCategory]
GO
/****** Object:  Trigger [dbo].[TrDeleteFilm]    Script Date: 16.10.2025 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrDeleteFilm]
    ON [dbo].[Film]
    INSTEAD OF DELETE
    AS
	UPDATE Film
	SET IsDeleted=1
	WHERE FilmId IN (SELECT FilmId
					FROM deleted);
GO
ALTER TABLE [dbo].[Film] ENABLE TRIGGER [TrDeleteFilm]
GO
/****** Object:  Trigger [dbo].[TrChangePrice]    Script Date: 16.10.2025 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrChangePrice]
	ON [dbo].[Game]
	AFTER UPDATE
	AS
		IF UPDATE(Price)
		IF EXISTS (SELECT * 
	           FROM inserted i
			     JOIN deleted d ON i.GameId=d.GameId
			   WHERE i.Price < d.Price)
		THROW 50000, 'Нельзя уменьшать цену', 1;
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrChangePrice]
GO
/****** Object:  Trigger [dbo].[TrDeleteGame]    Script Date: 16.10.2025 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrDeleteGame]
    ON [dbo].[Game]
    INSTEAD OF DELETE
    AS
		UPDATE Game
		SET IsDeleted=1
		WHERE GameId IN (SELECT GameId
						FROM deleted);
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrDeleteGame]
GO
/****** Object:  Trigger [dbo].[TrGamesRowsCount]    Script Date: 16.10.2025 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrGamesRowsCount]
    ON [dbo].[Game]
    AFTER DELETE,INSERT,UPDATE
    AS
    PRINT 'Количество измененных строк: ' + CAST(@@ROWCOUNT AS VARCHAR(10))
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrGamesRowsCount]
GO
/****** Object:  Trigger [dbo].[TrSavePrice]    Script Date: 16.10.2025 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrSavePrice]
    ON [dbo].[Game]
    AFTER UPDATE
    AS
		IF UPDATE(Price)
			INSERT INTO GamePrice(GameId,OldPrice)
			SELECT GameId,Price
			FROM deleted;
GO
ALTER TABLE [dbo].[Game] ENABLE TRIGGER [TrSavePrice]
GO
/****** Object:  Trigger [dbo].[TrAddSale]    Script Date: 16.10.2025 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddSale]
    ON [dbo].[Sale]
    AFTER INSERT
    AS
		UPDATE Game
		SET KeysAmount -= inserted.KeysAmount
		FROM Game
			JOIN inserted ON Game.GameId=inserted.GameId;
GO
ALTER TABLE [dbo].[Sale] DISABLE TRIGGER [TrAddSale]
GO
/****** Object:  Trigger [dbo].[TrAddSaleWithCheck]    Script Date: 16.10.2025 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddSaleWithCheck]
    ON [dbo].[Sale]
    AFTER INSERT
    AS
	BEGIN
		-- объявление переменных
		DECLARE @gamesKeys SMALLINT;
		DECLARE @salesKeys SMALLINT;
		--присваивание значений
		SELECT @gamesKeys=g.KeysAmount, @salesKeys=i.KeysAmount
		FROM Game g
			JOIN inserted i ON g.GameId=i.GameId;

		IF (@gamesKeys < @salesKeys)
		THROW 50001, 'Недостаточно ключей игры', 1
		ELSE
			UPDATE Game
			SET KeysAmount -= inserted.KeysAmount
			FROM Game
				JOIN inserted ON Game.GameId=inserted.GameId;
	END
GO
ALTER TABLE [dbo].[Sale] DISABLE TRIGGER [TrAddSaleWithCheck]
GO
/****** Object:  Trigger [dbo].[TrAddSaleWithCheck2]    Script Date: 16.10.2025 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrAddSaleWithCheck2]
ON [dbo].[Sale]
INSTEAD OF INSERT
AS
BEGIN
	-- объявление переменных
	DECLARE @gamesKeys SMALLINT;
	DECLARE @salesKeys SMALLINT;
	--присваивание значений
	SELECT @gamesKeys=g.KeysAmount, @salesKeys=i.KeysAmount
	FROM Game g
		JOIN inserted i ON g.GameId=i.GameId;

	IF (@gamesKeys < @salesKeys)
	THROW 50001, 'Недостаточно ключей игры', 1
	ELSE
	BEGIN
		INSERT INTO Sale(GAmeId,KeysAmount)
		SELECT GameId, KeysAmount
		FROM inserted;

		UPDATE Game
		SET KeysAmount -= inserted.KeysAmount
		FROM Game
			JOIN inserted ON Game.GameId=inserted.GameId;
	END
END
GO
ALTER TABLE [dbo].[Sale] ENABLE TRIGGER [TrAddSaleWithCheck2]
GO
/****** Object:  Trigger [dbo].[TrInsertSession]    Script Date: 16.10.2025 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrInsertSession]
    ON [dbo].[Session]
    INSTEAD OF INSERT
    AS
	BEGIN
	
	INSERT INTO [Session] (FilmId,HallId,Price,StartDate,Is3D)
	SELECT FilmId,HallId,Price,StartDate,Is3D
	FROM inserted;

	UPDATE [Session]
	SET Price = 100
	WHERE [Session].Price < 100;
	END
GO
ALTER TABLE [dbo].[Session] ENABLE TRIGGER [TrInsertSession]
GO
/****** Object:  Trigger [dbo].[TrChangeEmail]    Script Date: 16.10.2025 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrChangeEmail]
    ON [dbo].[Visitor]
    AFTER UPDATE
    AS
	IF UPDATE(Email)
	INSERT INTO VisitorEmail(VisitorId,Email)
	SELECT VisitorId,Email
	FROM deleted
GO
ALTER TABLE [dbo].[Visitor] DISABLE TRIGGER [TrChangeEmail]
GO
/****** Object:  Trigger [dbo].[TrDeleteVisitor]    Script Date: 16.10.2025 11:49:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TrDeleteVisitor]
    ON [dbo].[Visitor]
    AFTER DELETE
    AS
	INSERT INTO DeletedVisitor(VisitorId,Phone,[Name],Birthday,Email)
	SELECT *
	FROM deleted;
GO
ALTER TABLE [dbo].[Visitor] DISABLE TRIGGER [TrDeleteVisitor]
GO
