USE [ispp3104]
GO
/****** Object:  UserDefinedFunction [dbo].[GetGamesCount]    Script Date: 27.11.2025 11:36:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetGamesCount]
(
    @categoryId int
)
RETURNS INT
AS
BEGIN
	DECLARE @count INT
	SELECT @count = COUNT(*)
	FROM Game
	WHERE CategoryId = @categoryId;
	RETURN @count
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetUserPoints]    Script Date: 27.11.2025 11:36:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetUserPoints]
(
    @userId int
)
RETURNS INT
AS
BEGIN
	DECLARE @points int;
	SELECT @points = SUM(Film.Duration)
	FROM Ticket INNER JOIN
		Visitor ON Ticket.VisitorId = Visitor.VisitorId INNER JOIN
		Session ON Ticket.SessionId = Session.SessionId INNER JOIN
		Film ON Session.FilmId = Film.FilmId
	WHERE (Ticket.VisitorId = @userId);
	RETURN ISNULL(@points,0);
END
GO
/****** Object:  UserDefinedFunction [dbo].[GetGamesByPrice2]    Script Date: 27.11.2025 11:36:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetGamesByPrice2]
(
    @maxPrice int = 1000
)
RETURNS TABLE AS RETURN
(
	SELECT *
	FROM Game
	WHERE price < @maxPrice
)
GO
/****** Object:  UserDefinedFunction [dbo].[GetGamesByPrices]    Script Date: 27.11.2025 11:36:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetGamesByPrices]
(
    @min decimal(16,2),
    @max decimal(16,2)
)
RETURNS TABLE AS RETURN
    SELECT *
	FROM Game
	WHERE Price <= @max AND Price >= @min
GO
/****** Object:  UserDefinedFunction [dbo].[GetSessionsByFilmId]    Script Date: 27.11.2025 11:36:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GetSessionsByFilmId]
(
    @id int
)
RETURNS TABLE AS RETURN
	SELECT * 
	FROM [Session]
	WHERE FilmId = @id
GO
