USE [ispp3104]
GO
/****** Object:  StoredProcedure [dbo].[AddCategory]    Script Date: 27.11.2025 11:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCategory] 
    @name nvarchar(100),
	@id int OUTPUT 
AS
    BEGIN
	INSERT INTO Category([Name])
	VALUES(@name);
	SET @id = SCOPE_IDENTITY();
	END
GO
/****** Object:  StoredProcedure [dbo].[AddHall]    Script Date: 27.11.2025 11:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddHall]
    @cinema nvarchar(50) = 'Титан-Арена',
	@hallNumber tinyint,
	@rowsCount tinyint,
	@seatsCount tinyint
AS
	BEGIN
		IF (EXISTS(
		SELECT * 
		FROM Hall 
		WHERE Cinema = @cinema AND HallNumber = @hallNumber
		))
	BEGIN
		UPDATE Hall
		SET SeatsCount = @seatsCount,
		RowsCount = @rowsCount
		WHERE Cinema = @cinema AND HallNumber = @hallNumber;
	END
	ELSE
		BEGIN
			INSERT INTO Hall(Cinema, HallNumber, RowsCount,SeatsCount)
			VALUES(@cinema, @hallNumber, @rowsCount,@seatsCount);
		END
	END
GO
/****** Object:  StoredProcedure [dbo].[AddTicket]    Script Date: 27.11.2025 11:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddTicket]
    @phone char(10),
    @sessionId int,
	@row tinyint,
	@seat tinyint,
	@ticketId int OUTPUT
AS
BEGIN	
    INSERT INTO Ticket(VisitorId,SessionId,[Row],Seat)
	SELECT  VisitorId, @sessionId, @row, @seat
	FROM Visitor
	WHERE Visitor.Phone = @phone;
	SET @ticketId = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[AddVisitor]    Script Date: 27.11.2025 11:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddVisitor] 
    @phone char(10),
    @id int OUTPUT 
AS
	BEGIN
	INSERT INTO Visitor(Phone)
	VALUES (@phone)
	SET @id = SCOPE_IDENTITY()
	END
GO
/****** Object:  StoredProcedure [dbo].[GetGamesByPrice]    Script Date: 27.11.2025 11:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetGamesByPrice] 
    @maxPrice decimal(16,2) 
  
AS
    SELECT *
	FROM Game
	WHERE Price<=@maxPrice
GO
/****** Object:  StoredProcedure [dbo].[GetTicketsByPhone]    Script Date: 27.11.2025 11:36:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetTicketsByPhone] 
    @phone char(10)
AS
    SELECT Ticket.*
FROM Visitor INNER JOIN
Ticket ON Visitor.VisitorId = Ticket.VisitorId
WHERE Visitor.Phone = @phone;
GO
